<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Sounds App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let animal of animales">
      <ion-avatar item-left>
        <img [src]="animal.imagen">
      </ion-avatar>
      <h2> {{ animal.nombre }} </h2>
      <ion-icon *ngIf="!animal.reproduciendo" item-right name="play" (click)="play(animal)"> </ion-icon>
      <ion-icon *ngIf="animal.reproduciendo" item-right name="pause" (click)="play(animal)"> </ion-icon>
    </button>
  </ion-list>
</ion-content>
